---
import Card from "../Card.astro";
import Container from "../Container.astro";
import Pill from "../Pill.astro";
import Section from "../Section.astro";
import SectionTitle from "../SectionTitle.astro";

const projects = [
  {
    id: "1",
    name: "Project sample name",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ",
    stack: ["React", "Graphql", "TRPC"],
  },
  {
    id: "2",
    name: "Project sample name",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ",
    stack: ["React", "Graphql", "TRPC"],
  },
  {
    id: "3",
    name: "Project sample name",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ",
    stack: ["React", "Graphql", "TRPC"],
  },
];
---

<Section>
  <Container>
    <Pill text="Projects" className="mb-2" />
    <SectionTitle text="Projects I've recently worked on" />
  </Container>
  <Container className="grid grid-flow-col gap-6 max-w-6xl">
    {projects.map((project) => <Card>{project.name}</Card>)}
  </Container>
</Section>
