---
import Collapsible from "../Collapsible/Collapsible";
import Container from "../Container.astro";
import Section from "../Section.astro";
import Project from "./Project.astro";

import { projects } from "./projects-data";
---

<Section
  ><Container className="max-w-6xl grid grid-cols-2 gap-8">
    {
      projects.map((item) => (
        <div>
          <Project {...item} />
        </div>
      ))
    }
  </Container>
</Section>
