---
export interface Props {
  title: string;
  values: string[];
}

const { title, values } = Astro.props;
---

<div class="text-slate-800 border border-slate-200 bg-white shadow-sm rounded-xl p-6 hover:shadow-md">
  <lh class="font-bold mb-2">{title}</lh>
  <ul class="">
    {values.map((value) => <li class="list-disc ml-4 text-sm">{value}</li>)}
  </ul>
</div>
