---
import Layout from "../layouts/Layout.astro";
import "@fontsource/inter";
import Header from "../components/Header/Header.astro";
import Skills from "../components/Skills/Skills.astro";
import Timeline from "../components/Timeline/Timeline.astro";
import Courses from "../components/Courses/Courses.astro";
import Section from "../components/Section.astro";
import Projects from "../components/Projects/Projects.astro";
---

<Layout title="Kyrylo Moghoshiia CV">
  <Header />
  <main>
    <Skills />
    <Timeline />
    <Courses />
    <!-- <Projects /> -->
  </main>
</Layout>
