---
import ContactList from "../ContactList/ContactList.astro";
import Container from "../Container.astro";
import RectPattern from "../Patterns/RectPattern.astro";
import Section from "../Section.astro";
import SocialIcons from "../SocialIcons/SocialIcons.astro";
---

<Section as="header" className="relative bg-slate-50">
  <div
    class="absolute inset-0 [mask-image:linear-gradient(white,transparent)]"
  >
    <RectPattern />
  </div>

  <Container
    className="relative flex flex-col sm:flex-row-reverse justify-between p-6"
  >
    <img
      class="rounded-full w-[80px] h-[80px] md:w-[150px] md:h-[150px] mb-8"
      width="150"
      height="150"
      src="/assets/avatar.jpg"
      alt="Kryrlo Morhoshiia avatar"
    />
    <div class="max-w-lg">
      <h1 class="font-black text-2xl sm:text-4xl mb-2 text-slate-800">
        Kyrylo Morhoshiia
      </h1>
      <ContactList className="mb-4" />
      <p class="text-slate-800 leading-relaxed mb-8">
        Software engineer mainly focused on React ecosystem. I build typesafe
        fullstack applications using cutting edge tech.
      </p>
      <SocialIcons />
    </div>
  </Container>
</Section>
