---
import Container from "../Container.astro";
import Pill from "../Pill.astro";
import Section from "../Section.astro";
import SectionTitle from "../SectionTitle.astro";
import CoursesCard from "./CoursesCard.astro";
const courses = [
  {
    title: "React - the complete guide",
    author: "Maximilian Schwarzmuller",
  },
  {
    title: "NodeJs the complete guide",
    author: "Maximilian Schwarzmuller",
  },
  {
    title: "React Native the practical guide",
    author: "Maximilian Schwarzmuller",
  },
  {
    title: "Complete react developer",
    author: "Andrei Neagoie",
  },
  {
    title: "Epic React",
    author: "Kent C. Dodds",
  },
  {
    title: "Just Java Script",
    author: "Dan Abramov",
  },
];
---

<Section>
  <Container as="header">
    <Pill text="Courses" className="mb-2" />
    <SectionTitle text="I take online courses to keep my skills sharp" />
  </Container>
  <Container
    as="ul"
    className="max-w-6xl grid gap-6 sm:grid-cols-2 md:grid-cols-3"
  >
    {
      courses.map(({ title, author }) => (
        <CoursesCard title={title} author={author} />
      ))
    }
  </Container>
</Section>
