---
import Container from "../Container.astro";
import Icon from "../Icon.astro";
import RectPattern from "../Patterns/RectPattern.astro";
import Section from "../Section.astro";

export interface Props {
  quote: string;
  author: string;
  // authorAvatar: string;
  company: string;
}

const { quote, author, company } = Astro.props;
---

<Section as="aside" className="relative bg-slate-100">
  <div class="absolute inset-0 w-full h-full">
    <RectPattern />
  </div>
  <Container
    className="relative text-center flex flex-col justify-center items-center"
  >
    <figure>
      <div class="flex mx-auto w-fit mb-4 text-blue-500">
        <Icon icon="star" />
        <Icon icon="star" />
        <Icon icon="star" />
        <Icon icon="star" />
        <Icon icon="star" />
      </div>
      <blockquote class="leading-relaxed text-xl italic mb-8">
        &ldquo;{quote}&rdquo;
      </blockquote>
      <footer class="flex justify-center">
        <div class="max-w-sm mx-auto flex items-center">
          <cite class="not-italic font-bold">{author}</cite>
          &nbsp; - &nbsp;
          <cite class="text-slate-600 text-sm not-italic">{company}</cite>
        </div>
      </footer>
    </figure>
  </Container>
</Section>
